name: Tests

on:
  push:
    branches: [ master ]
    tags: [ '*.*.*' ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: '^1.15.5'

    - name: Linters
      if: matrix.os == 'ubuntu-latest'
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.30.0
        golangci-lint run

    - name: Build
      run: |
        go build

    - name: Test non-Ubuntu platforms
      if: matrix.os != 'ubuntu-latest'
      run: |
        go test -race

    - name: Test Ubuntu and report coverage
      if: matrix.os == 'ubuntu-latest'
      run: |
        go test -race -coverprofile=coverage.txt -covermode=atomic
        bash <(curl -s https://codecov.io/bash)

  github-publish:
    # Only publish if all other jobs succeed
    needs:
      - test
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.15.5'
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
